<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styledetalleexpediente.css">
    <link rel="stylesheet" href="../css/styleheader.css">
    <title>Detalle Expediente</title>
</head>

<body class="fondo">
    <!-- sección menu -->
    <%-include("../partials/navAdmi") %>

    <!-- sección solicitudes -->
    <div class="bienvenida">
        <h2>Detalle Expediente</h2>
        
    </div>
    <hr>

    <!-- sección detalle expediente -->
    <div class="container">
        <div class="expediente">
            <h2>Expediente</h2>
            <hr class="division">
            <p>Numero de Expediente: <%= detalleExpediente.id_expediente %> </p>
        </div>

        <div class="tutor">
            <h2>Tutor</h2>
            <hr class="division">
            <p>Nombre Completo: <%= detalleExpediente.tutor_primer_nombre %>  <%= detalleExpediente.tutor_segundo_nombre %> <%= detalleExpediente.tutor_primer_apellido %> <%= detalleExpediente.tutor_segundo_apellido %> <%= detalleExpediente.tutor_segundo_apellido %></p>
            <p>DNI:  <%= detalleExpediente.tutor_dni %> </p>
            <p>Número de Teléfono:</p>
        </div>

        <div class="estudiante">
            <h2>Estudiante</h2>
            <hr class="division">
            <p>Nombre Completo: <%= detalleExpediente.estudiante_primer_nombre %> <%= detalleExpediente.estudiante_segundo_nombre %> <%= detalleExpediente.estudiante_primer_apellido %> <%= detalleExpediente.estudiante_segundo_apellido %></p>
            <p>DNI:  <%= detalleExpediente.estudiante_dni %> </p>
            <p>Institucion:  <%= detalleExpediente.nombre_institucion %> </p>
        </div>
    </div>

    <script src="./js/main.js"></script>
    
    <%- include('../partials/footer') -%>